.u-section-1 .u-sheet-1 {
  min-height: 670px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 6.25rem;
  margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 46px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -38px auto 0 344px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 27px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -39px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-left: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    width: auto;
    margin-top: 16px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -1px;
    margin-bottom: 14px;
  }
}