
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f5f5f5;
        }

        .container {
            text-align: center;
        }
        #hiddenText1{
            display: none;
        }
        #hiddenText2{
            display: none;
        }
        .Choseefile{
            position: relative;
            width: 71%;
            padding: 3px 6px;
            padding-top: 3px;
            padding-right: 6px;
            padding-bottom: 3px;
            padding-left: 6px;
            border-radius: 3px;
            border: 1px solid grey
        }

        #textEntry {
            display: none;
        }
        #textEntry1{
            display: none;
        }

        textArea {
            width: 300px;
            height: 100px;
        }

        .submitBtn {
            display: none;
            margin-top: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .desubmitBtn {
            display: none;
            margin-top: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }

        #download {
            display: none;
            background-color: yellow;
            color: black;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        #hback{
            display: none;
        }
        .btn {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            position: relative;
            
        }
        .btn1 {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            position: relative;
            
        }

        .btn:hover {
            background-color: #0056b3;
        }
        
