<!DOCTYPE html>
<html>
<head>
    <title>Image Steganography</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='steganography-image.css') }}">
    <link rel="stylesheet" href="../static/steganography-image.css">
</head>
<body>
    <div style="height: 70%;"><a href="/" ><button id="hback" class="btn">Back</button></a></div>
    <div class="container">
        <h1>IMAGE STEGANOGRAPHY</h1>
        
        <a href="home.html"><button class="btn">Home</button></a>
        <br><button id="encode" class="btn1">Encode</button>
        <button id="decode" class="btn1">Decode</button>
        <form method="post" action="/" id="textEntry" enctype="multipart/form-data">
            <br>
            <input class="Choseefile" type="file" id="inputImage" name="inputImage" accept="image/*" required>
            <br><br>
            <textarea required style="position: relative; margin: -3.5%;" name="hiddenText" id="hiddenText" placeholder="Write text here"></textarea>
            <br>
            <button onclick="{{ url_for('download_file') }}" style="left: 36%; margin: 3.5%;"  class="submitBtn btn" type="submit">Submit</button>
        </form>

        <form action="decode" method="post" id="textEntry1">
            <br>
            <input class="Choseefile" type="file" id="inputImage" name="inputImage" accept="image/png" required>
            <div id="hiddenText1"><br>
            <textarea style="position: relative; margin: -3.5%;" placeholder="Your seceret message here"></textarea>
            <br></div>
            <button id="hiddenText2" style="left: 36%; margin: 3.5%;" class="desubmitBtn btn" type="submit">Submit</button> 
        </form>
    </div>

    <script>
        let encodeButton = document.getElementById('encode');
        let decodeButton = document.getElementById('decode');
        let textEntry = document.getElementById('textEntry');
        let textEntry1 = document.getElementById('textEntry1');
        let hback = document.getElementById('hback');
        let inputImage = document.getElementById('inputImage');
        let hiddenText1 = document.getElementById('hiddenText1');
        let submitButton = document.querySelector('.submitBtn');
        let desubmitBut = document.querySelector('.desubmitBtn');

        encodeButton.addEventListener('click', () => {
            encodeButton.style.display = 'none';
            decodeButton.style.display = 'none';
            hback.style.display = 'block';
            textEntry.style.display = 'block';
            submitButton.style.display = 'block';
        });

        decodeButton.addEventListener('click', () => {
            encodeButton.style.display = 'none';
            decodeButton.style.display = 'none';
            hback.style.display = 'block';
            textEntry1.style.display = 'block';
            desubmitBut.style.display = 'block';
        });

        submitButton.addEventListener('click', () => {
            //alert('Your data is submitted');
            //alert('Downloaded');
        });

        desubmitBut.addEventListener('click', () => {
            event.preventDefault();
            hiddenText1.style.display ='block'
            hiddenText2.style.display = 'none';
        });


    </script>
    <!-- <script>
        let encodeButton = document.getElementById('encode');
        let decodeButton = document.getElementById('decode');
        let textEntry = document.getElementById('textEntry');
        let textEntry1 = document.getElementById('textEntry1');
        let hback = document.getElementById('hback');
        let inputImage = document.getElementById('inputImage');
        let hiddenText1 = document.getElementById('hiddenText1');
        let submitButton = document.querySelector('.submitBtn');
        let desubmitBut = document.querySelector('.desubmitBtn');
    
        encodeButton.addEventListener('click', () => {
            encodeButton.style.display = 'none';
            decodeButton.style.display = 'none';
            hback.style.display = 'block';
            textEntry.style.display = 'block';
            submitButton.style.display = 'block';
        });
    
        decodeButton.addEventListener('click', () => {
            encodeButton.style.display = 'none';
            decodeButton.style.display = 'none';
            hback.style.display = 'block';
            textEntry1.style.display = 'block';
            desubmitBut.style.display = 'block';
        });
    
        submitButton.addEventListener('click', () => {
        const fileName = '../uploads/ab1_encoded.png'; // Replace with your actual file name
        fetch(`/download_file?fileName=${fileName}`)
            .then(response => {
            if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.blob();
    })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = fileName;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
        })
        .catch(error => console.error('Error downloading file:', error));
    });
    
        desubmitBut.addEventListener('click', () => {
            event.preventDefault();
            hiddenText1.style.display = 'block';
            hiddenText2.style.display = 'none';
        });
    </script>-->
    
</body>
</html>
